services:

  reverseproxy:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    # Nginx should start once the Node server is launched.
    depends_on:
      - api

  api:
    image: amile817/okanban-api-cicd
    ports:
      - 3100:3100
    depends_on:
      - db
    container_name: okanban-api
    env_file: ./api/.env  # path on OVH server
    # environment:
    #   - PG_URL=postgres://okanban:okanban@okanban-database:5432/okanban
    #   - PORT=3100

  client:
    image: amile817/okanban-cli-cicd
    ports:
      - 4173:4173
    depends_on:
      - api
    container_name: okanban-cli
    #env_file: ./client/.env  # Sur OVH
    #environment:
    #  - VITE_API_BASE_URL=http://137.74.45.93:3100/api 


  db:
    image: amile817/okanban-db-cicd
    environment:
      env_file: "./.env"
      
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DB}
    container_name: okanban-database
    volumes:
      # Initialization => done in the docker file...
      # - ./api/data:/docker-entrypoint-initdb.d

      # Data persistence volume (tables, table contents, etc.)
      - pg-okanban:/var/lib/postgresql/data
    
    # Checks whether the database is ready and restarts the container if it does not respond after 5 failures.
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ochaos']
      interval: 2s
      timeout: 5s
      retries: 5

volumes:
 pg-okanban: