services:
  api:
    image: amile817/okanban-api-cicd
    ports:
      - 3100:3100
    depends_on:
      - db
    container_name: okanban-api
    environment:
      - PG_URL=postgres://okanban:okanban@okanban-database:5432/okanban
      - PORT=3100

  client:
    image: amile817/okanban-cli-cicd
    ports:
      - 4173:4173
    depends_on:
      - api
    container_name: okanban-cli
    #environment:
    #  - VITE_API_BASE_URL=http://137.74.45.93:3100/api 


  db:
    image: amile817/okanban-db-cicd
    environment:
      env_file: "./.env"
      
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DB}
    container_name: okanban-database
    #volumes:
      # répertoire des scripts d'initialisation
      #- ./api/data:/docker-entrypoint-initdb.d

      # volume de persistance => Modifications des données de postgres SQL (tables, contenu des tables...)
      #- pg-okanban:/var/lib/postgresql/data

#volumes:
#  pg-okanban: